<% provide(:title, "Top") %>
<div class="jumbotron">
  <div class="left_contents">
    <h1>Task App</h1>
    <p>Task Appは簡易TODO管理ツールです。</p>
    <P>↓↓初めての利用の方はこちら↓↓</P>
    <% if logged_in? %>
      <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success", disabled: true %>
    <% else %>
      <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-success", readonly: true %>
    <% end %>
  </div>
  <div class="right_contents">
    <h1>ログイン</h1>
    <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
      
      <%= f.label :"Eメールアドレス", class: "label-login" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :"パスワード", class: "label-login" %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
        <%= f.check_box :remember_me, id: "remember-me" %>
        <span>ログイン情報を記憶する</span>
      <% end %>
      <% if logged_in? %>
        <%= f.submit "ログイン状態です", class: "btn btn-primary btn-block btn-login", disabled: true %>
      <% else %>
        <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login", readonly: true %>
      <% end %>
    <% end %>
  </div>
</div>