<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>プロフィール</h1>
    <table class="table table-hover">
      <tr>
        <th class="detail-head" width="150"><%= User.human_attribute_name :ID %></th><td><%= @user.id %></td>
      </tr>
      <tr>
        <th class="detail-head" width="150"><%= User.human_attribute_name :名前 %></th><td><%= @user.name %></td>
      </tr>
      <tr>
        <th class="detail-head" width="150"><%= User.human_attribute_name :メールアドレス %></th><td><%= @user.email %></td>
      </tr>
      <tr>
        <th class="detail-head" width="150"><%= User.human_attribute_name :作成日 %></th><td><%= @user.created_at %></td>
      </tr>
    </table>
  </div>    
</div>
